---
import config from "../../config";
---
<br />
<p
  class="text-lg md:ml-4 indent-8 text-fontLight dark:text-fontDark tracking-wider text-justify"
>
  
  大家好，我是 <strong>抽象的美羊羊</strong>（英文名 <strong>PrettyGoat</strong>）。  
  目前就读于
  <a href="https://www.lntu.edu.cn/" class="underline">辽宁工程技术大学（LNTU）</a>，
  主修计算机科学与技术。  

  我是一名普通的排版爱好者，  
  这个博客是我学习与记录的地方，我会在这里分享关于基础排版教程、网站设计、以及一些计算机学习笔记与心得。   

  若你有任何问题或想与我交流，可以通过
  <a
    href={`mailto:${config.email}?subject=${config.email_subject}`}
    class="underline"
  >
    邮件
  </a>
  联系我。  

  感谢你来到这里，希望你能在这个博客里找到一点灵感。
</p>

